[[source]]
name = "pypi"
url = "https://mirrors.huaweicloud.com/repository/pypi/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyter = "*"
sklearn = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
sklearn2pmml = "*"
sklearn-pandas = "*"
tensorflow = "*"

[requires]
python_version = "3.7"
